.BucketListForm {
  justify-content: center;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.bucket-list-form-title {
  margin-left: 30%;
  color: white;
  text-shadow: 1px 1px 2px rgb(29, 19, 13);
}

.text-area-and-inspo-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
  margin-left: 20px;
}

.idea-form {
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 7px;
  border: 1px solid rgb(92, 62, 43);
}

.inspire-button {
  text-align: center;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.complete-by-input-title {
  text-align: center;
  margin-right: 15%;
  color: white;
  text-shadow: 1px 1px 2px rgb(29, 19, 13);
}

.complete-by-input-and-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 15%;
  margin-bottom: 10px;
}

.dateArea {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 0ch;
  border: 1px solid rgb(92, 62, 43);
  padding: 2px;
}

@media (min-width: 768px) {
  .BucketListForm {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.idea-form {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 7px;
  margin-left: 10px;
  border: 1px solid rgb(92, 62, 43);
}
