.BucketListCard {
  position: relative;
  box-shadow: 1px 1px 2px rgb(29, 19, 13, 0.8);
  padding: 10px;
  font-family: "Amatic SC", cursive;
  text-shadow: 1px 1px 2px rgb(10, 7, 5);
  font-size: 20px;
  color: white;
  background-color: rgba(171, 97, 58, 0.9);
  width: 90%;
  height: 300px;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;



  font-family: "Manrope", sans-serif;

  justify-content: center;

}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
  align-items: center;
  padding: 3px;
}

.X {
  text-shadow: 1px 1px 2px rgba(178, 131, 106);
  color: rgb(127, 91, 71);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0ch;
  border-radius: 5px;
}
/*applies globally, be specific*/
.BucketListCard h2 {

  font-family: "Playfair Display", serif;
  font-size: large;
  margin: 1px;
}

.BucketListCard p {
  margin: 2px;
  font-size: small;

  text-align: center;
}





.symbol-buttons {
  position: absolute;
  right: 5px;
  top: 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.completed {
  text-decoration: line-through;
}
#completed {
  background-color: rgba(161, 185, 203, 0.9);
}

@media (min-width: 768px) {
  .BucketListCard {
    box-shadow: 1px 1px 2px rgb(29, 19, 13, 0.8);
    font-family: "Amatic SC", cursive;
    text-shadow: 1px 1px 2px rgb(10, 7, 5);
    position: relative;
    font-size: 20px;
    color: white;
    background-color: rgba(171, 97, 58, 0.9);
    width: 30%;
    height: 350px;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 8px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
  }

  li.BucketListCard {
    display: flex;
    justify-content: center;
  }
}
