.BucketListForm {
  align-items: center;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0;
  margin-top: 160px;
}

#bucket-list-idea {
  padding-left: 5px;
}
