.BucketListCard {
  position: relative;
  box-shadow: 1px 1px 2px rgb(29, 19, 13, 0.8);
  font-family: "Amatic SC", cursive;
  text-shadow: 1px 1px 2px rgb(10, 7, 5);
  font-size: 20px;
  color: white;
  background-color: rgba(171, 97, 58, 0.9);
  width: 90%;
  height: 320px;
  list-style-type: none;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  align-items: stretch;
  font-family: "Manrope", sans-serif;
  justify-content: center;
}

li.BucketListCard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
  align-items: center;
}

.X {
  text-shadow: 1px 1px 2px rgba(178, 131, 106);
  color: rgb(127, 91, 71);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0ch;
  border-radius: 5px;
}
/*applies globally, be specific*/
.BucketListCard h2 {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  margin-bottom: 10px;
  text-align: center;
}

.BucketListCard p {
  font-size: small;
  margin-top: 15px;
  text-align: center;
}

.symbol-buttons {
  position: absolute;
  right: 5px;
  top: 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.completed {
  text-decoration: line-through;
}
#completed {
  background-color: rgba(114, 118, 127, 0.9);
}

@media (min-width: 768px) {
  .BucketListCard {
    position: relative;
    padding: 30px;
    font-size: 20px;
    width: 25%;
    height: 280px;
    list-style-type: none;
    flex-wrap: wrap;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }

  li.BucketListCard {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  .BucketListCard h2 {
    margin-bottom: 0;
  }

  .BucketListCard p {
    margin: -3px;
  }
}

.expired-notice {
  text-align: center;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

/* .expired-notice > p {
  font-size: 1.5rem;
} */

/* .show-counter {
  padding: 0.5rem;
} */

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* padding: 0.5rem; */
  border: 1px solid white;
  border-radius: 0.25rem;
  text-decoration: none;
  color: lightgreen;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.5rem 0 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 1rem;
}
