.Footer {
  background-color: rgba(217, 174, 151, 0.87);
  text-shadow: 1px 1px 2px rgb(29, 19, 13);
  height: 80px;
  bottom: 0px;
  width: 100%;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Aboreto", cursive;
  font-size: xx-small;
  position: fixed;
  font-family: "Playfair Display", serif;
}

.Footer h2 {
  padding-left: 30px;
  padding-right: 40px;
}
