.Footer {
  background-color: #e39871;
  height: 80px;
  width: 100%;
  bottom: 0px;
  color: #fff;
  font-size: small;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
