.FriendsList {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
  margin: 20px;
  /* margin-right: 200px; */
  list-style: none;
  font-size: 20px;
  border: 1px solid rgb(92, 62, 43);
  background-color: rgba(171, 97, 58, 0.9);
}

.FriendsList div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.FriendsList div a {
  text-decoration: none;
}

.FriendsList .user-card {
  position: relative;
  box-shadow: 1px 1px 2px rgb(29, 19, 13, 0.8);
  font-family: "Amatic SC", cursive;
  text-shadow: 1px 1px 2px rgb(10, 7, 5);
  font-size: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 75%;
  height: 200px;
  list-style-type: none;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0px;
  margin: 10px;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.FriendsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FriendsList h2 {
  padding-left: 10px;
}

.FriendsList img {
  border-radius: 20px;
  border: 2px solid white;
  font-size: 10px;
}

.FriendsList a {
  color: rgba(171, 97, 58, 0.9);
  text-decoration: none;
}
