.Header {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: #e39871;
  color: #ffff;
}

.Title {
  text-align: center;
}

img {
  height: 25px;
  width: 25px;
}

.HeaderButton {
  position: absolute;
}
