.Header {
  margin: 0;
  justify-content: space-between;
  display: flex;
  font-family: "Aboreto", cursive;
  width: 100%;
  height: 100px;
  background-color: rgba(217, 174, 151, 0.87);
  color: #ffff;
  align-items: center;
}

img {
  height: 30px;
  width: 30px;
}

header button {
  background-color: rgba(179, 122, 110, 0.7);
  border-radius: 30px;
  border: 0ch;
  width: 100px;
  height: 30px;
}

.logo {
  margin-top: 10px;
}

.Title {
  justify-content: center;
}

.userProfileButtonContainer,
.loginContainer {
  margin-left: 15px;
  margin-right: 15px;
}

.userProfileButtonContainer {
  margin-top: 0px;
}

.innerLoginContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.displayName {
  display: none;
}

.profile-img {
  border-radius: 20px;
  border: 2px solid white;
}

.sign-out {
  position: relative;
  right: 10px;
}
