.LoggedOutMain li {
  text-decoration: none;
  list-style: none;
  border: 2px solid black;
  margin: 20px;
}

.LoggedOutMain .container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-items: stretch; */
  /* align-items: stretch; */
  height: 80vh;
}

.LoggedOutMain .newsfeed-container {
  flex: 1;
  border: 5px solid yellow;
}

.LoggedOutMain .testimonials-container {
  flex: 1;
  border: 5px solid yellow;
}

@media (min-width: 768px) {
  .LoggedOutMain .container {
    flex-direction: row;
  }
}
