.Main {
  background-image: url(C:\Users\alexa\OneDrive\Desktop\personal\unit9-databases\final-project\bucketList-frontend\bl-bkgd4.jpg);
  background-position: fill;
  background-size: cover;
  background-repeat: no-repeat;
}
