.Main {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.FooterContainer {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  padding: 0px;
  width: 100vh;
}
