.SearchFriendForm {
  /* margin-top: 40px;
  margin-left: 20px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.SearchFriendForm input {
  height: 25px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 0ch;
  border: 1px solid rgb(92, 62, 43);
  padding: 2px;
}

.SearchFriendForm button {
  margin-left: 0px;
  margin-top: 5px;
  height: 25px;
}
