.UserProfile {
  color: white;
  text-shadow: 1px 1px 2px rgb(10, 7, 5);
  margin: 20px;
}

.NestedUserProfileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NestedUserProfileContainer h2 {
  padding-left: 10px;
}

.NestedUserProfileContainer img {
  border-radius: 20px;
  border: 2px solid white;
}

.friend-search-form-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
