html,
body,
h1,
.App,
.Main {
  margin: 0px;
  padding: 0px;
}

.FooterContainer {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  display: inline-block;
}
