html,
body,
h1,
.App,
.Main {
  margin: 0px;
  padding: 0px;
}

.App {
  background-image: url(../bl2-mobile.jpg);
  background-position: fill;
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}

.FooterContainer {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  display: inline-block;
}
