body,
.Main {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../bl2-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
}

@media (min-width: 768px) {
  body {
    background-image: url(../bl2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
